<footer class="footer">
    <div class="dist-even">
        <p>
            Activity Icons made by
            <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
            from
            <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </p>
        <p>
            For Educational purposes only &copy; 2020 Malia Havlicek
        </p>
        <p class="has-text-centered">
            <a href="https://www.instagram.com/moolia74/?hl=en" target="_blank" aria-label="Link to Malia Havlicek's instagram."><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/malia.havlicek" target="_blank" aria-label="Link to Malia Havlicek's facebook."><i class="fab fa-facebook"></i></a>
            <a href="https://github.com/maliahavlicek/what2do2day" target="_blank" aria-label="Go to github's code source for this website."><i class="fab fa-github"></i></a>
       </p>

    </div>
</footer>