{#
    This template collects data for an event. It expects to be associated with a Place_id
#}
{% from "_partials/macros.html" import activity_choice with context %}

{# has event checkbox, only shown on add place form #}
<div class="field">
    <label class="label">Events</label>
    <div class="control">
        {{ form.event.has_event(class_="is-checkradio is-medium") }}
        {{ form.event.has_event.label }}
    </div>
</div>

{# event block hide/shows based on has_eveent  #}
<div id="event_block"
     class="has-background-white-bis embedded">
    <div class="columns">
        <div class="column">
            <div class="field {% if form.event.event_name.errors %}has-error{% endif %}">
                {# event name collection#}
                {{ form.event.event_name.label(class_="label") }}
                <div class="control has-icons-left has-icons-right">
                    {{ form.event.event_name(class_="input", placeholder="Event Name") }}
                    <span class="icon is-small is-left has-text-primary">
                            <i class="fas fa-monument"></i>
                        </span>
                    <span class="error-msg icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                </div>
                <p class="error-msg help is-danger">
                    {% if form.event.event_name.errors|length > 0 %}
                        {{ form.event.event_name.errors[0] }}
                    {% endif %}
                </p>
            </div>
            {# event price for non member collection#}
            <div class="field {% if form.event.price_for_non_members.errors %}has-error{% endif %}">
                {{ form.event.price_for_non_members.label(class_="label") }}
                <div class="control has-icons-left has-icons-right">
                    {{ form.event.price_for_non_members(class_="input", placeholder="Free") }}
                    <span class="icon is-small is-left has-text-primary">
                        <i class="fas fa-comments-dollar"></i>
                    </span>
                    <span class="error-msg icon is-small is-right">
                      <i class="fas fa-exclamation-triangle"></i>
                    </span>
                </div>

                <p class="error-msg help is-danger">
                    {% if form.event.price_for_non_members.errors|length > 0 %}
                        {{ form.event.price_for_non_members.errors[0] }}
                    {% endif %}
                </p>
            </div>
            {# Event start and end datetime field collection #}
            <div class="field {% if form.event.event_start_datetime.errors %}has-error{% endif %}">
                {{ form.event.event_start_datetime.label(class_="label") }}
                <div class="control">
                    {{ form.event.event_start_datetime(class_="input", type="datetime") }}
                </div>
                <p class="error-msg help is-danger">
                    {% if form.event.event_start_datetime.errors|length > 0 %}
                        {{ form.event.event_start_datetime.errors[0] }}
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="column">
            {# event details collection #}
            <div class="field {% if form.event.details.errors %}has-error{% endif %}">
                {{ form.event.details.label(class_="label") }}
                <div class="control has-icons-right">
                    {{ form.event.details(class_="textarea", placeholder="Provide details about what to bring and where to meet.") }}
                    <span class="error-msg icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                </div>
                <p class="error-msg help is-danger">
                    {% if form.event.details.errors|length > 0 %}
                        {{ form.event.details.errors[0] }}
                    {% endif %}
                </p>
            </div>
            {# Max attendees #}
            <div class="field {% if form.event.max_attendees.errors %}has-error{% endif %}">
                {{ form.event.max_attendees.label(class_="label") }}
                <div class="control">
                    {{ form.event.max_attendees(class_="input", type="numbe") }}
                </div>
                <p class="error-msg help is-danger">
                    {% if form.event.max_attendees.errors|length > 0 %}
                        {{ form.event.max_attendees.errors[0] }}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    {# macro for actiity_choice #}
    {{ activity_choice(activity_input=form.event.activity_name, hidden_input_for_icon=form.event.activity_icon) }}

    {# ages mutliple choice #}
    <div class="field {% if form.event.age_limit.errors %}has-error{% endif %}">
        {# macro for hidden inputs that go into form #}
        {{ form.event.age_limit.label(class_='label') }}
        <p>Choosing No Limit overrides any other selections</p>
        <div class="control">
            {# more user friendly experience for selecting ages #}
            <div class="select is-multiple container ages">
                {{ form.event.age_limit(class_="is-hidden controller-ages", size="8") }}
                {% for item in form.event.age_limit.choices %}
                    <a class="card button ages is-primary {{ item[0] }}" data-choice='option[value={{ item[0] }}]'>
                        <div class="card-content">
                            <div class="media-con">
                                <img src="/static/assets/images/ages/{{ item[0] }}.png"
                                     alt="image for {{ item[1] }} age group">
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{ item[1] }}</p>
                                <p class="subtitle is-6">Ages: {{ item[0] }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <p class="error-msg help is-danger">
            {% if form.event.age_limit.errors|length > 0 %}
                {{ form.event.age_limit.errors[0] }}
            {% endif %}
        </p>
    </div>

    {# macro for address of event #}
    <div>
        {{ address_collection(form=form.event.address, label="Different from Event Address") }}
    </div>

    {# show_enable determines if the user sees a event specific enablment or not, for adding, it's inherited from place #}
    <div class="field {% if not update %}is-hidden{% endif %}">
        {{ enable_switch(id="event-share", form=form.event.share) }}
    </div>

</div>