{# macro to create activies select element #}
{% macro activity_choice (activity_input=False, hidden_input_for_icon=False) -%}
    {% if activity_input and hidden_input_for_icon %}
        <div class="section cards iconpicker">
            <div class="container">
                <div class="field {% if activity_input.errors %}has-error{% endif %}">
                    {{ activity_input.label(class_="label") }}
                    <div class="control has-icons-left has-icons-right">
                        {{ activity_input(class_="input", placeholder="Activity Type") }}
                        <span class="icon is-small is-left has-text-primary">
                            <i class="fas fa-cogs"></i>
                        </span>
                        <span class="error-msg icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                    </div>
                    <p class="error-msg help is-danger">
                        {% if activity_input.errors|length > 0 %}
                            {{ activity_input.errors[0] }}
                        {% endif %}
                    </p>
                </div>
                <div class="field {% if hidden_input_for_icon.errors %}has-error{% endif %}">
                    <div class="label">
                        Pick an Activity Icon
                    </div>

                    <p class="error-msg help is-danger">
                        {% if hidden_input_for_icon.errors|length > 0 %}
                            {{ hidden_input_for_icon.errors[0] }}
                        {% endif %}
                    </p>
                </div>
                <div class="columns is-multiline embedded limited-exposure">
                    {# hidden field to hold picked icon #}
                    {{ hidden_input_for_icon }}
                    {% for item in icons %}
                        <div class="column">
                            <a class="card button is-primary iconpicker {{ hidden_input_for_icon.id }}"
                               title="icon for {{ item|icon_alt }}"
                               data-value="{{ item }}" data-input="{{ hidden_input_for_icon.id }}">
                                <div class="card-content">
                                    <div class="media-con">
                                        <img src="/static/assets/images/icons/{{ item }}"
                                             alt="image for {{ item|icon_alt }} icon" height="60"
                                             width="60">
                                    </div>
                                    <div class="content">{{ item|icon_alt }}</div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{%- endmacro %}

{# macro to create disable/enable (don't share/share) switch element #}
{% macro enable_switch (id='', form=false) -%}
    {{ form.label(class_="label") }}
    <div class="control">
        <label class="switch">
            <input id="{{ id }}" name="{{ id }}" type="checkbox"
                   {% if form.data %}checked value="on"{% else %}value="off"{% endif %}>
            <span class="slider"></span>
        </label>
    </div>
    <span class="switch-value">No&nbsp;&nbsp;&nbsp;Yes</span>
{%- endmacro %}

{# macro to create disable/enable (don't share/share) switch element #}
{% macro star_form (label="Rating", form=false) -%}
    {% if form %}
        <label for="{{ form.id }}" class="label">{{ label }}</label>
        {% if form.choices|length > 0 %}
            <div class="stars" id="{{ form.id }}">
                {% for subfield in form.choices|reverse %}
                    <input class="star star-{{ subfield[0] }}" id="{{ form.id }}-{{ subfield[0]|int-1 }}" type="radio"
                           name="{{ form.id }}" value="{{ subfield[0] }}" {% if form.data == subfield[0] %}
                           checked{% endif %}/>
                    <label class="star star-{{ subfield[0] }}" for="{{ form.id }}-{{ subfield[0]|int-1 }}"
                           title="{{ subfield[1] }}"></label>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{%- endmacro %}

{% macro address_collection (form=False, label="Has Physical Address") -%}
    <div class="field">
        <label class="label">Address</label>
        <div class="control">
            {{ form.has_address(class_="is-checkradio is-medium") }}
            {{ form.has_address.label }}
        </div>
    </div>

    {# address block hide/shows based on has_address  #}
    <div id="{{ form.id }}_address_block"
         class="has-background-white-bis embedded">
        <div class="field {% if form.address_line_1.errors %}has-error{% endif %}">
            {{ form.address_line_1.label(class_="label") }}
            <div class="control">
                {{ form.address_line_1(class_="input", placeholder="Street Address, P.O. Box") }}
            </div>
            <p class="error-msg help is-danger">
                {% if form.address_line_1.errors|length > 0 %}
                    {{ form.address_line_1.errors[0] }}
                {% endif %}
            </p>
        </div>

        <div class="field {% if form.address_line_2.errors %}has-error{% endif %}">
            {{ form.address_line_2.label(class_="label") }}
            <div class="control">
                {{ form.address_line_2(class_="input", placeholder="Apartment, Suite, Unit, Building, Floor, etc.") }}
            </div>
            <p class="error-msg help is-danger">
                {% if form.address_line_2.errors|length > 0 %}
                    {{ form.address_line_2.errors[0] }}
                {% endif %}
            </p>
        </div>
        <div class="columns">
            <div class="field column {% if form.city.errors %}has-error{% endif %}">
                {{ form.city.label(class_="label") }}
                <div class="control">
                    {{ form.city(class_="input", placeholder="City") }}
                </div>
                <p class="error-msg help is-danger">
                    {% if form.city.errors|length > 0 %}
                        {{ form.city.errors[0] }}
                    {% endif %}
                </p>
            </div>
            <div class="field column {% if form.state.errors %}has-error{% endif %}">
                {{ form.state.label(class_="label") }}
                <div class="control">
                    {{ form.state(class_="input", placeholder="State") }}
                </div>
                <p class="error-msg help is-danger">
                    {% if form.state.errors|length > 0 %}
                        {{ form.state.errors[0] }}
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="columns">
            <div class="field column {% if form.postal_code.errors %}has-error{% endif %}">
                {{ form.postal_code.label(class_="label") }}
                <div class="control">
                    {{ form.postal_code(class_="input", placeholder="Postal Code") }}
                </div>
                <p class="error-msg help is-danger">
                    {% if form.postal_code.errors|length > 0 %}
                        {{ form.postal_code.errors[0] }}
                    {% endif %}
                </p>
            </div>
            <div class="field column {% if form.country.errors %}has-error{% endif %}">
                {{ form.country.label(class_='label') }}
                <div class="control has-icons-left">
                    <div class="select">
                        {{ form.country }}
                    </div>
                    <div class="icon is-small is-left has-text-primary">
                        <i class="fas fa-globe"></i>
                    </div>
                </div>
                <p class="error-msg help is-danger">
                    {% if form.country.errors|length > 0 %}
                        {{ form.country.errors[0] }}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro event_layer(layer_event, google_key) -%}

    <div class="media-content">
        <p class="title is-4">
            <span id="event-icon" class="is-48x48">
                <img src="/static/assets/images/icons/{{ layer_event['activity_icon'] }}"
                     alt="image for {{ layer_event['activity_icon']|icon_alt }} icon" height="36"
                     width="36">
            </span>
            <span id="event-modal-title" class="is-capitalized">{{ layer_event['event_name']|title }}</span>
        </p>
        <div class="media">
            <div class="media-left is-half">
                <div class="columns">
                    <div class="is-bold column">When:</div>
                    <div class="column"
                         id="event-date-time-range">{{ layer_event['date_time_range'] | date_range |safe }}</div>
                </div>
                <div class="columns">
                    <div class="is-bold column">Ages:</div>
                    <div class="column is-capitalized" id="event-ages">
                        {% if layer_event['age_limit'] %}
                            {% for age in layer_event['age_limit'] %}
                                {{ age }}{% if loop.index != loop.length %}, {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="columns">
                    <div class="is-bold column">Details:</div>
                    <div class="column" id="event-details">
                        {{ layer_event['details'] }}
                    </div>
                </div>
                <div class="columns">
                    <div class="is-bold column">Cost:</div>
                    <div class="column" id="event-cost">
                        {% if layer_event['price_for_non_members'] %}
                            {{ layer_event['price_for_non_members'] }}
                        {% else %}
                            Free
                        {% endif %}
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-bold"><i class="fas fa-users" aria-hidden="true"></i></div>
                    <div class="column" id="event-attendance">
                        <p>
                            {{ layer_event['attendees'] }}
                            {% if layer_event['attendees'] > 1 %}
                                people plan
                            {% else %}
                                person plans
                            {% endif %}
                            on going
                        </p>
                    </div>
                </div>
            </div>
            <div id="event-modal-right" class="media-content is-half">
                {% if layer_event['event_address'] and layer_event['event_address'] !='' and  layer_event['event_address']['address_line_1'] != "" %}
                    <div class="is-bold {% if layer_event['event_address'] =='' %} is-hidden{% endif %}">Where:</div>
                    <div id="map">
                        {% if layer_event['event_address'] and layer_event['event_address'] !='' and  layer_event['event_address']['address_line_1'] != "" %}
                            <iframe width="280" height="225" frameborder="0" style="border:0"
                                    src="https://www.google.com/maps/embed/v1/search?key={{ google_key }}&q={{ layer_event['event_address']['address_line_1'] }}&center={{ layer_event['event_address']['lat'] }},{{ layer_event['event_address']['lng'] }}&maptype=satellite&zoom=16"></iframe>
                        {% endif %}
                    </div>
                {% endif %}
                <div id="place-description">
                    <p><span class="is-bold">Sponsored By:</span> <span>{{ layer_event['place_name']|title }}</span></p>
                    {% if layer_event['event_address'] and layer_event['event_address']['address_line_1'] == "" %}

                        <p>
                            {{ layer_event['place_description'] }}
                        </p>
                    {% else %}
                        <a class="is-text has-tooltip-multiline has-tooltip-bottom"
                           data-tooltip="{{ layer_event['place_description'] }}">About Us</a>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

{%- endmacro %}

{% macro address_tooltip(add) -%}
    {% if add['address_line_2']|length > 0 %}{{ add['address_line_2'] }}, {% endif %}
    {{ add['city'] }}, {{ add['state'] }},
    {{ add['postal_code'] }} {{ add['country'] }}
{%- endmacro %}

{% macro display_address(add, tooltip=False) -%}
    {% if tooltip %}
        <a class="is-text has-tooltip-multiline has-tooltip-bottom is-capitalized"
           data-tooltip="{{ address_tooltip(add=add) }}">{{ add['address_line_1']|title }}</a>
    {% else %}
        {{ add['address_line_1']|title }}
        {% if add['address_line_2']|length > 0 %}
            <br>{{ add['address_line_2']|title }}
        {% endif %}
        <br>{{ add['city']|title }}, {{ add['state']|title }}
        {% if add['postal_code']|length > 0 %}
            <br>{{ add['postal_code']|title }} {{ add['country']|title }}
        {% else %}
            <br>{{ add['country']|title }}
        {% endif %}
    {% endif %}
{%- endmacro %}

{% macro star_rating_display(rating, label=False) -%}
    <div class="star_wrapper">
        {% if rating %}
            <div class="Stars" style="--rating: {{ rating|myround(1) }};"
                 aria-label="Rating of this product is {{ rating|myround(1) }} out of 5."></div>
            {% if label %}
                <div class="star-label">{{ rating|myround(1) }} out of 5</div>
                <div class="star-totals">{{ place.reviews|length|pluralize("review","reviews",True) }}</div>
            {% endif %}
        {% else %}
            no ratings yet
        {% endif %}
    </div>
{%- endmacro %}