<div class="field">
    <label for="star" class="label">Rating</label>
    <div class="stars">
        <label class="star star-5" for="star-5" title="Excellent: 5-star"></label>
        <label class="star star-4" for="star-4" title="Good: 4-star"></label>
        <label class="star star-3" for="star-3" title="Fair: 3-star"></label>
        <label class="star star-2" for="star-2" title="Poor: 2-star"></label>
        <label class="star star-1" for="star-1" title="Bad: 1-star"></label>
    </div>
</div>