{% from "macros.html" import activity_list with context %}
{% from "macros.html" import enable_switch with context %}
{% extends 'pages/base.html' %}
{% block content %}
    {# hero/tile #}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Add Place
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2 class="subtitle">
                Thank you for adding to the community! We'll let you know if others contribute to your place.
            </h2>
        </div>
        <div class="container">
            {# PLACE FORM  #}
            <form method="POST" action="{{ url_for('add_place') }}" enctype="multipart/form-data">
                {#  prevent cross site scripting #}
                {{ form.csrf_token }}
                <div class="field {% if form.email.errors %}has-error{% endif %}">
                    {{ form.email.label(class_="label") }}
                    <div class="control has-icons-left has-icons-right">
                        {{ form.email(class_="input", placeholder="your.email@you.com") }}
                        <span class="icon is-small is-left has-text-primary">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="error-msg icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                    </div>
                    <p class="error-msg help is-danger">
                        {% if form.email.errors|length > 0 %}
                            {{ form.email.errors[0] }}
                        {% endif %}
                    </p>
                </div>

                <div class="field {% if form.name.errors %}has-error{% endif %}">
                    {{ form.name.label(class_="label") }}
                    <div class="control has-icons-left has-icons-right">
                        {{ form.name(class_="input", placeholder="Place Name") }}
                        <span class="icon is-small is-left has-text-primary">
                            <i class="fas fa-landmark"></i>
                        </span>
                        <span class="error-msg icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                    </div>
                    <p class="error-msg help is-danger">
                        {% if form.name.errors|length > 0 %}
                            {{ form.name.errors[0] }}
                        {% endif %}
                    </p>
                </div>

                <div class="field {% if form.description.errors %}has-error{% endif %}">
                    {{ form.description.label(class_="label") }}
                    <div class="control has-icons-right">
                        {{ form.description(class_="textarea", placeholder="Provide a short description. What do you do or offer the community?") }}
                        <span class="error-msg icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                    </div>
                    <p class="error-msg help is-danger">
                        {% if form.description.errors|length > 0 %}
                            {{ form.description.errors[0] }}
                        {% endif %}
                    </p>
                </div>

                <div class="field {% if form.activity.errors %}has-error{% endif %}">
                    {{ form.activity.label(class_='label') }}
                    <div class="control has-icons-left">
                        <div class="select">
                            {{ form.activity }}
                        </div>
                        <div class="icon is-small is-left has-text-primary">
                            <i class="fas fa-cogs" aria-hidden="true"></i>
                        </div>
                    </div>
                    <p class="error-msg help is-danger">
                        {% if form.activity.errors|length > 0 %}
                            {{ form.activity.errors[0] }}
                        {% endif %}
                    </p>
                </div>

                <div class="field {% if form.phone.errors %}has-error{% endif %}">
                    {{ form.phone.label(class_="label") }}
                    <div class="control has-icons-left has-icons-right">
                        {{ form.phone(class_="input", placeholder="Phone") }}
                        <span class="icon is-small is-left has-text-primary">
                            <i class="fas fa-phone"></i>
                        </span>
                        <span class="error-msg icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                    </div>
                    <p class="error-msg help is-danger">
                        {% if form.phone.errors|length > 0 %}
                            {{ form.phone.errors[0] }}
                        {% endif %}
                    </p>
                </div>

                <div class="field {% if form.website.errors %}has-error{% endif %}">
                    {{ form.website.label(class_="label") }}
                    <div class="control has-icons-left has-icons-right">
                        {{ form.website(class_="input", placeholder="Website") }}
                        <span class="icon is-small is-left has-text-primary">
                            <i class="fas fa-globe-europe"></i>
                        </span>
                        <span class="error-msg icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                    </div>
                    <p class="error-msg help is-danger">
                        {% if form.website.errors|length > 0 %}
                            {{ form.website.errors[0] }}
                        {% endif %}
                    </p>
                </div>

                <div class="field {% if form.image_url.errors %}has-error{% endif %}">
                    {{ form.image_url.label(class_="label") }}
                    <div class="control has-icons-left has-icons-right">
                        {{ form.image_url(class_="input", placeholder="Image URL") }}
                        <span class="icon is-small is-left has-text-primary">
                            <i class="fas fa-image"></i>
                        </span>
                        <span class="error-msg icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                    </div>
                    <p class="error-msg help is-danger">
                        {% if form.image_url.errors|length > 0 %}
                            {{ form.image_url.errors[0] }}
                        {% endif %}
                    </p>
                </div>

                {% include '/pages/_partials/address.html' %}

                <div class="field">
                    <label class="label">Reviews</label>
                    <div class="control">
                        <input class="is-checkradio is-medium" id="has_review" name="has_review" type="checkbox"
                               checked="checked">
                        <label for="has_review">Add Review</label>
                    </div>
                </div>
                <div id="review_block" class="has-background-white-bis embedded">
                    {% include '/pages/_partials/review.html' %}
                </div>

                <div class="field">
                    <label class="label">Events</label>
                    <div class="control">
                        <input class="is-checkradio is-medium" id="has_event" name="has_event" type="checkbox"
                               checked="checked">
                        <label for="has_event">Add Event</label>
                    </div>
                </div>
                <div id="event_block" class="has-background-white-bis embedded">
                    {% include '/pages/_partials/event.html' %}
                </div>
                <div class="field">
                    {{ enable_switch('place', True) }}
                </div>
                <div class="buttons">
                    <input type="submit" class="is-primary">
                    <span class="icon">
                            <i class="fab fa-plus"></i>
                        </span>
                    <span>Add Place</span>
                </div>
            </form>
        </div>

    </section>
{% endblock %}