{% from "macros.html" import activity_list with context %}
{% from "macros.html" import enable_switch with context %}
{% extends 'pages/base.html' %}
{% block content %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Add Place
                </h1>
            </div>
        </div>
    </section>
    <section class="section">

        <div class="container">
            <h2 class="subtitle">
                Thank you for adding to the community! We'll let you know if others contribute to your place.
            </h2>
        </div>
        <div class="container">
            <form method="POST" action="{{ url_for('add_place') }}">
                {#  prevent cross site scripting #}
                {{ form.csrf_token }}
                <div class="field">
                    <label for="email" class="label">Email</label>
                    <div class="control has-icons-left">
                        <input class="input" id="email" name="email" type="email" placeholder="youremail@you.com">
                        <span class="icon is-small is-left has-text-primary">
                        <i class="fas fa-envelope"></i>
                    </span>
                    </div>

                </div>

                <div class="field {% if form.name.errors %}has-error{% endif %}">
                    <label for="name" class="label">Name of Place</label>
                    <div class="control has-icons-right">
                        <input id="name" name="name" class="input"
                               type="text" placeholder="Place Name">
                            <span class="error-msg icon is-small is-right">
                              <i class="fas fa-exclamation-triangle"></i>
                            </span>
                    </div>
                    <p class="error-msg help is-danger">
                        {% for error in form.name.errors %}
                            {{ error }}
                        {% endfor %}
                    </p>
                </div>
                <div class="field">
                    {{ activity_list('place', activities) }}
                </div>
                <div class="field">
                    <label class="label">Address of Place</label>
                    <div class="control">
                        <input class="is-checkradio is-medium" id="has_address" name="has_address" type="checkbox"
                               checked="checked">
                        <label for="has_address">Has Physical Address </label>
                    </div>
                </div>
                <div id="address_block" class="has-background-white-bis embedded">
                    {% include '/pages/_partials/address.html' %}
                </div>
                <div class="field">
                    <div class="control">
                        <label for="description" class="label">Description</label>
                        <textarea id="description" name="description" class="textarea"
                                  placeholder="Enter Description"></textarea>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label for="phone" class="label">Phone</label>
                        <div class="control has-icons-left">
                            <input id="phone" name="phone" class="input" type="text"
                                   placeholder="Phone">
                            <span class="icon is-small is-left has-text-primary">
                                <i class="fas fa-phone"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label for="website" class="label">Website</label>
                        <div class="control">
                            <input id="website" name="website" class="input" type="text"
                                   placeholder="website">
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label for="image_url" class="label">Image URL</label>
                        <div class="control">
                            <input id="image_url" name="image_url" class="input" type="text"
                                   placeholder="Image URL">
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Reviews</label>
                    <div class="control">
                        <input class="is-checkradio is-medium" id="has_review" name="has_review" type="checkbox"
                               checked="checked">
                        <label for="has_review">Add Review</label>
                    </div>
                </div>
                <div id="review_block" class="has-background-white-bis embedded">
                    {% include '/pages/_partials/review.html' %}
                </div>

                <div class="field">
                    <label class="label">Events</label>
                    <div class="control">
                        <input class="is-checkradio is-medium" id="has_event" name="has_event" type="checkbox"
                               checked="checked">
                        <label for="has_event">Add Event</label>
                    </div>
                </div>
                <div id="event_block" class="has-background-white-bis embedded">
                    {% include '/pages/_partials/event.html' %}
                </div>
                <div class="field">
                    {{ enable_switch('place', True) }}
                </div>
                <div class="buttons">
                    <input type="submit" class="is-primary">
                    <span class="icon">
                            <i class="fab fa-plus"></i>
                        </span>
                    <span>Add Place</span>
                    </input>
                </div>
            </form>
        </div>

    </section>
{% endblock %}