{% extends 'base.html' %}
{% block content %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Add Events
            </h1>
            {% if places | length < 1 and filter=='none' %}
                <h2 class="subtitle">
                    Sorry, there are no places at this time, you must first add a place before adding events.
                </h2>
                <div class="level-left">
                    <div class="level-item">
                        <p class="control">
                            <a class="button is-white" href="{{ url_for('add_place', _external=True) }}">
                                <span class="icon">
                                    <i class="fas fa-plus-square"></i>
                                </span>
                                <span>Add Place</span>
                            </a>
                        </p>
                    </div>
                </div>

            {% elif places | length > 5 %}
                <h2 class="subtitle">
                    <button class="button is-text">Filter</button>
                    {{ places.filter }}
                </h2>
            {% else %}
                more than 5 places filter {{ events.filter }}

            {% endif %}
        </div>
    </div>
</section>
{% endblock %}