{% extends 'base.html' %}
{% from "_partials/macros.html" import event_layer with context %}
{% from "_partials/macros.html" import display_address with context %}
{# This template houses the get_events list page. It houses the Count Me In modal and form #}
{% block content %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Events
                </h1>
                {% if events | length < 1 %}
                    <div class="level-left">
                        <div class="level-item">
                            <p class="subtitle">
                                Sorry, there are no events at this time.
                            </p>
                        </div>
                        <div class="level-item">
                            <p class="control">
                                <a class="button is-white" href="{{ url_for('add_event') }}">
                                    <span class="icon">
                                        <i class="fas fa-calendar-plus"></i>
                                    </span>
                                    <span>Add Event</span>
                                </a>
                            </p>
                        </div>
                    </div>
                {% elif events | length > 5 %}
                    <h2 class="subtitle">
                        <button class="button is-text">Filter</button>
                        {{ events.filter }}
                    </h2>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="list-events">
    {% if events | length > 0 %}
        {% for event in events %}
            {% if loop.index == 1 or loop.index > 1 and event['start_date'] != events[loop.index - 2]['start_date'] %}
                <nav class="level is-primary">
                    <div class="level-left">
                        <div class="level-item">
                            <p class="title">
                                <i class="far fa-calendar-alt"></i> {{ event['start_date'].strftime('%Y-%m-%d') }}
                            </p>
                        </div>
                    </div>
                </nav>
            {% endif %}
            {% include 'event/event.html' %}
        {% endfor %}
    {% endif %}
    </section>

    {# modal for count me in form #}
    <div class="modal {% if show_modal and not show_modal['status'] %}is-active{% endif %}" id="modal-count-me-in">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Count Me In</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <form method="POST" action="{{ url_for('get_events') }}" enctype="multipart/form-data">
                <section class="modal-card-body">
                    {#  prevent cross site scripting #}
                    {{ form.csrf_token }}
                    {# macro for actiity_choice type and icon collection #}
                    {{ event_layer(form_data=form.attend_event_form.data|upwrap_json, google_key=google_key) }}

                    <div class="field {% if form.email.errors %}has-error{% endif %}">
                        {# hidden field to hold picked event id #}
                        {{ form.attend_event_id }}
                        {{ form.attend_event_form }}

                        <p class="title is-5">
                            By providing us your email, we'll be able to reserve your spot and let you know if the event is updated.
                        </p>
                        {{ form.email.label(class_="label") }}
                        <div class="control has-icons-left has-icons-right">
                            {{ form.email(class_="input", placeholder="your.email@you.com") }}
                            <span class="icon is-small is-left has-text-primary">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="error-msg icon is-small is-right">
                              <i class="fas fa-exclamation-triangle"></i>
                            </span>
                        </div>
                        <p class="error-msg help is-danger">
                            {% if form.email.errors|length > 0 %}
                                {{ form.email.errors[0] }}
                            {% endif %}
                        </p>
                    </div>
                </section>

                {# submit join event form to save in database and refresh page with success or error messaging #}
                <footer class="modal-card-foot">
                    <div class="level-left">
                        <button type="submit" class="button is-primary action submit">
                                <span class="icon is-small">
                                   <i class="fas fa-calendar-check"></i>
                                </span>
                            <span class="action">Send Invite</span>
                        </button>
                    </div>
                </footer>
            </form>
        </div>
    </div>

    {# modal for count me in submission results #}
    <div class="modal {% if show_modal and show_modal['status'] %}is-active{% endif %}"
         id="modal-count-me-in-submitted">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Count Me In</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="container">
                    <div class="field">
                        {{ show_modal['message'] }}
                    </div>
                </div>
            </section>
            {# button to acknowledge message and close modal #}
            <footer class="modal-card-foot">
                <div class="level-left">
                    <a class=" button is-primary action modal-close-2">
                        <span class="icon is-small">
                            <i class="fas fa-check-circle"></i>
                        </span>
                        <span class="action">OK</span>
                    </a>
                </div>
            </footer>
        </div>
    </div>

{% endblock %}