<div class="container">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {{ event['place_details'][0]['name']| title }}
            </p>
        </header>
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                         <img src="/static/assets/images/icons/{{ event.icon }}"
                             alt="image for {{ event.icon|icon_alt }} icon" height="36"
                             width="36">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">{{ event.event_name|title }}</p>
                    <p><span class="is-bold">When: </span>{{ event.date_time_range }} </p>
                    {% if event.address %}
                        <p><span class="is-bold">Where: </span>{{ event.address }} </p>
                    {% endif %}
                    {% if event.age_limit %}
                        <p><span class="is-bold">Ages: </span>
                            {% for age in event.age_limit %}
                                {{ age }}
                            {% endfor %}
                        </p>
                    {% endif %}
                    <p><span class="is-bold">Cost: </span>
                    {% if event.price_for_non_members %}{{ event.price_for_non_members }}{% else %}Free{% endif %}</p>


                    {{ event }}
                </div>
            </div>

            <div class="content">

            </div>
        </div>


    </div>
</div>