{# This template is used on the get_events page. It houses the HTML for filtering events #}
<div class="modal {% if filter_string !=None %}is-active{% endif %}" id="modal-filter-events">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Filter Events</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <form method="POST" action="{{ url_for('get_events', event_id="none", filter_string=layer_event['_id']) }}"
              enctype="multipart/form-data">
            <section class="modal-card-body">
                {#  prevent cross site scripting #}
                {{ filter_form.csrf_token }}

                {# activity filter mutliple choice #}
                <div class="field {% if filter_form.activity.errors %}has-error{% endif %}">
                    {# macro for hidden inputs that go into form #}
                    {{ filter_form.activity.label(class_='label') }}
                    <p>Select the Activities your want to see</p>
                    <div class="control">
                        {# more user friendly experience for selecting mutliples #}
                        <div class="select is-multiple container ages">
                            {{ filter_form.activity(class_="is-hidden controller-ages", size="8") }}
                            {% for item in filter_form.activity.choices %}
                                <a class="card button ages is-primary {{ item[0] }}" data-choice='option[value={{ item[0] }}]'>
                                    <div class="card-content">
                                        <div class="media-con">
                                            <img src="/static/assets/images/icons/{{ item[0] }}.png"
                                                 alt="image for {{ item[1] }} activity choice">
                                        </div>
                                        <div class="media-content">
                                            <p class="title is-4">{{ item[1] }}</p>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <p class="error-msg help is-danger">
                        {% if filter_form.activity.errors|length > 0 %}
                            {{ filter_form.activity.errors[0] }}
                        {% endif %}
                    </p>
                </div>

                {# start and end datetime range filter #}
                <div class="field {% if filter_form.datetime_range.errors %}has-error{% endif %}">
                    {{ filter_form.datetime_range.label(class_="label") }}
                    <div class="control">
                        {{ filter_form.datetime_range(class_="input", type="datetime") }}
                    </div>
                    <p class="error-msg help is-danger">
                        {% if filter_form.datetime_range.errors|length > 0 %}
                            {{ filter_form.datetime_range.errors[0] }}
                        {% endif %}
                    </p>
                </div>

                {# Age #}
                <div class="field {% if filter_form.age.errors %}has-error{% endif %}">
                    {{ filter_form.age.label(class_="label") }}
                    <div class="control">
                        {{ filter_form.age(class_="input", type="numbe") }}
                    </div>
                    <p class="error-msg help is-danger">
                        {% if filter_form.age.errors|length > 0 %}
                            {{ filter_form.age.errors[0] }}
                        {% endif %}
                    </p>
                </div>


            </section>

            {# submit join event form to save in database and refresh page with success or error messaging #}
            <footer class="modal-card-foot">
                <div class="level-left">
                    <button type="submit" class="button is-primary action submit">
                                <span class="icon is-small">
                                   <i class="fas fa-filter"></i>
                                </span>
                        <span class="action">Filter Events</span>
                    </button>
                </div>
            </footer>
        </form>
    </div>
</div>
