{% extends 'base.html' %}
{% from "_partials/event_macro.html" import event_entry with context %}
{% block content %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Update Event {{ event_name }}
                </h1>
                {% if events | length < 1 %}
                    <h2 class="subtitle">
                        Opps I can't find that event anymore.
                    </h2>
                    <div class="level-left">
                        <div class="level-item">
                            <p class="control">
                                <a class="button is-white" href="{{ url_for('edit_events') }}">
                                <span class="icon">
                                    <i class="fas fa-plus-square"></i>
                                </span>
                                    <span>Edit Events</span>
                                </a>
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="list-events">
        {% if events | length > 0 %}
            {% for event in events %}
                {# collect initial event of place #}
                {# This template collects data for an event. It expects to be associated with a Place_id #}
                {# has event checkbox, only shown on add place form #}
                <div class="field is-hidden">
                    <label class="label">Events</label>
                    <div class="control">
                        {{ form.has_event(class_="is-checkradio is-medium") }}
                        {{ form.has_event.label }}
                    </div>
                </div>

                {# event block hide/shows based on has_eveent  #}
                <div {% if not update %}id="event_block"{% endif %} class="has-background-white-bis embedded">
                {{ event_entry(form=form, event=event, update=True) }}
                </div>

            {% endfor %}
        {% endif %}
    </section>
{% endblock %}