{% extends 'base.html' %}
{% block content %}
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
    <section class="hero is-primary" role="banner" aria-label="Banner for Error Page">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Oops...
                </h1>
            </div>
        </div>
    </section>
    <section class="section" role="main">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <h2 class="subtitle is-2">
                        Something went wrong...
                    </h2>
                    <p>{{ reason }}</p>
                    <a class="button is-primary" href="{{ url_for('home', _external=True) }}"
                       data-track="home,error,button">
                        <span class="icon">
                            <i class="fas fa-home"></i>
                        </span>
                        <span>Try Again</span>
                    </a>
                </div>
                <div class="column is-one-third">
                    <div class="image-holder fixit" aria-label="Image of Ferb holding tools."></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}