{% extends 'base.html' %}
{% block content %}
    {# CSRF protection #}
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
    <section class="hero is-medium is-primary is-fullheight-with-navbar is-bold">
        <div class="hero-body home">
            <div class="container">
            </div>
        </div>
        <div class="speech-bubble first">
            <p>Let's check What2do2day.</p>
            <div class="speech-bubble-arrow"></div>
        </div>
        <div class="speech-bubble second">
            <p>Hey Ferb, what're we gonna do today?</p>
            <div class="speech-bubble-arrow"></div>
        </div>
        <div class="buttons home columns">
            <div class="column is-half">
                <a class="button is-link home-btn-1" data-track='events,home,button' href="{{ url_for('events_bp.get_events', _external=True) }}">
                    <span>Discover Events</span>
                </a>
            </div>
            <div class="column is-half">
                <a class="button is-link home-btn-2" data-track="places,home,button" href="{{ url_for('places_bp.get_places', _external=True) }}">
                    <span>Discover Places</span>
                </a>
            </div>
        </div>
    </section>
{% endblock %}