/* overwrite styles for base fonts */
body, button, input, select, textarea {
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

/* add background color to rails on desktop + renderings */
html {
    background-color: hsl(0, 0%, 86%)
}

/* have rails appear for larger devices so that content and inputs don't get too wide */
body {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF
}

/* section */
.section {
    padding: .25rem .5rem;
}

/* footer */
.footer {
    display: block;
    flex-direction: unset;
    background-color: #4a4a4a;
    font-size: 1rem;
    color: #fff;
    line-height: 1.75;
    padding: .25em .75em;
}

.footer a {
    color: #00ffd9fc;
}

footer p {
    margin: .3rem 0;
}

.footer a i {
    padding: .25em 2em;
}

.dist-even {
    text-align: left;
    display: block;
    line-height: 1.75;
    padding: .5em .75em;
    position: relative;
    justify-content: space-between;
}

/* accordion header */
.accordions .accordion .accordion-header {
    justify-content: space-between;
}

.accordions .accordion .accordion-header .columns .column {
    width: 150px;
}

.accordion-content {
    border-bottom: 1px solid #00d1b2;
}

.accordion-content:last-of-type {
    border-bottom: none;
}

.accordions .accordion .accordion-header + .accordion-body {
    transition: height 1s, max-height .5s;
    transition-timing-function: ease-in-out;
}

/* calendar adjustments */
.datetimepicker-dummy .datetimepicker-dummy-wrapper .datetimepicker-dummy-input {
    font-size: .8rem;
    text-indent: .25rem;
}

.datetimepicker-dummy::before, .datetimepicker-dummy:before {
    top: .75rem;
    left: .25rem;
    width: 1rem;
    height: 1rem;
}

.datetimepicker-dummy .datetimepicker-dummy-wrapper .datetimepicker-dummy-input:first-child {
    text-indent: 1.5rem;
}

/* overwrite fonts for h1 and navigation */
h1, .navbar-brand a.navbar-item {
    font-family: 'Patrick Hand SC', Tahoma, serif;
}

/* overwrite checkbox label font */
.is-checkradio[type=checkbox].is-medium + label {
    font-size: 1rem;
    padding-top: .3rem;
}

/* over write font for navigation */
.navbar-brand a.navbar-item {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
}

/* font for switch label */
.switch-value {
    font-size: 1rem;
    margin-bottom: 45px;
    display: inline-block;
}

/* have phineaus and ferb in backyard as home page background */
.hero-body.home {
    background: url(/static/assets/images/were_gonna_build_a_rollercoaster_sm.jpg) no-repeat bottom center;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

/* Perry the platypus and grassy bottom to hero-body background, carries over backyard theme */
.hero-body {
    background: url(/static/assets/images/perry_the_platypus.png) no-repeat right bottom, url(/static/assets/images/fence.png) repeat-x bottom center;
    overflow: hidden;
    background-size: auto 132px, auto 100%;
}

/* homepage, no perry */
.hero.home:after {
    background: none;
}

.hero-body .container .title {
    margin-right: 50px;
}

/* customize buttons container on home page */
.buttons.home {
    position: absolute;
    top: 74%;
    left: 10%;
}

/* customize font and style on home page buttons */
a.button.is-link.home-btn-1, a.button.is-link.home-btn-2 {
    font-size: 2rem;
    height: 3rem;
    padding: 0 10px;
    font-family: Patrick Hand SC, Arial, sans-serif;
    border: 1px solid;

}

/* submit button overrides */
.section.is-submit-wrapper {
    background-color: #00d1b1;
    color: #fff;
    font-weight: 900;
    padding: 1rem 1.5rem;
    margin-top: -2rem;
    border-top: 1px solid #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
}

.section.update.is-submit-wrapper {
    background: #b5b5b5;
    border-color: #b5b5b5;
}

/* add space between buttons */
a.button.is-link.home-btn-2 {
    margin-left: 100px;
}

/* speech bubble styles*/
.speech-bubble {
    background: #efefef;
    border: 1px solid #a7a7a7;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.6rem;
    line-height: 1.3;
    margin: 0 auto 40px;
    width: auto;
    padding: 10px;
    position: absolute;
    color: #222;
    font-family: 'Patrick Hand SC', Arial, sans-serif;
}

/* place first speech bubble below navbar */
.speech-bubble.first {
    margin-top: 110px;
    left: 18px;
}

/* have first speech bubble arrow on right side */
.first .speech-bubble-arrow {
    right: 84%;
}

/* place second speech bubble below first one, minor overlap allowed */
.speech-bubble.second {
    margin-top: 30px;
    right: 10px;
}

/* space between text in speech bubble paragraphs  */
.speech-bubble p {
    margin-bottom: 10px;
}

/* eliminate extra space between bottom of speech bubble text */
.speech-bubble p:last-of-type {
    margin-bottom: 0;
}

/* speech bubble arrow styling and placement */
.speech-bubble-arrow {
    border-left: 21px solid transparent;
    border-top: 20px solid rgba(0, 0, 0, 0.2);
    bottom: -25px;
    position: absolute;
    right: 38px;
}

.speech-bubble.second .speech-bubble-arrow:before {
    border-top: 213px solid rgba(0, 0, 0, 0.2);
    bottom: -188px;
    right: 1px;
}

.speech-bubble.second .speech-bubble-arrow:after {
    border-top: 213px solid #efefef;
    top: -26px;
}

/* speech bubble directional tail right side */
.speech-bubble-arrow::before {
    border-left: 23px solid transparent;
    border-top: 23px solid #a7a7a7;
    bottom: 2px;
    content: "";
    position: absolute;
    right: 5px;
}

/* speech bubble direction tail on left side, to simulate shadow */
.speech-bubble-arrow::after {
    border-left: 21px solid transparent;
    border-top: 21px solid #efefef;
    bottom: 4px;
    content: "";
    position: absolute;
    right: 6px;
}

/* fix contrast issue with white against green */
.hero.is-primary .title {
    color: #222;
}

/* select caret color override */
.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #00d1b1;
}

/* embedded form elements container style */
.embedded {
    border: 1px solid #b5b5b5;
    padding: 15px;
    border-radius: 4px;
    margin: 10px;
}

/* Ratings widget stars */
div.stars {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: left;
}

/* hide placeholder selection one */
.star.star-none {
    display: none;
}

/* suppress default radio button input for stars */
input.star {
    display: none;
}

/* star rating label styles */
label.star {
    float: right;
    padding: 0 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
    margin-top: -10px;
}

/* override input with star image, when checked with animation and green color */
input.star:checked ~ label.star:before {
    color: #00d1b1;
    font-weight: 900;
    transition: all .25s;
}

/* 5 star rating special fuzzy/glow style */
input.star-5:checked ~ label.star:before {
    color: #00d1b1;
    text-shadow: 0 0 10px #95eeeb;
    font-weight: 900;
}

/* only 1 star special style for dimmer unhappy vibe*/
input.star-1:checked ~ label.star:before {
    color: #46858d;
    font-weight: 900;
}

/* star input hover state of rotation */
label.star:hover {
    transform: rotate(-15deg) scale(1.3);
}

/* star outline in black when not checked */
label.star:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: '\f005';
    font-family: "FontAwesome";
    font-weight: 400;
}

:root {
    --star-size: 35px;
    --star-color: #4a4a4a;
    --star-background: #00d1b1;
}

/* star rating display */
.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Raleway;
    line-height: 1;
    position: relative;
    box-sizing: border-box;
}

.Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star_wrapper {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.star-label {
    font-size: 1rem;
}

.star-totals {
    font-size: .8rem;
}

.review-date {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 35px;
}

/* toggle switch base style overrides */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* overide default checkbox input styles */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* unchecked state is gray switch in left position */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

/* filter icons */


/* slider with animation between states */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

/* color for checked state of switch */
input:checked + .slider {
    background-color: #00d1b1;
}

/* hover state indication when interacting with switch */
input:focus + .slider {
    box-shadow: 0 0 1px #00d1b1;
}

/* checked transformations to move slider to right or on position */
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* age choices */
.image.age-image {
    height: 210px;
    width: 100px;
}

.container.ages, .container.activities {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
    grid-gap: 20px;
}

.container.ages .card, .container.activities .card {
    height: max-content;
}

.list-events .is-multiple.container .card.button.is-primary {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(0, 209, 178);

}

.list-events .card.button.is-primary.iconpicker {
    border-right: 2px solid rgb(0, 209, 178);
}

.card.button img {
    max-height: 130px;
}

.card.button {
    border: 2px solid #00d1b1;
    transition: all .2s;
    white-space: normal;
    align-items: start;
}

.card.button:before {
    content: '\f0c8';
    font-family: "FontAwesome";
    color: #FFFFFF;
    font-weight: 900;
    position: absolute;
    right: 20px;
    top: 10px;
    height: 40px;
    width: 40px;
    font-size: 32px;
}

.card.button.is-inverted:hover {
    border: 2px solid #00d1b1;
    opacity: 0.5;
}

.card.button:hover {
    border: 2px solid #2f2f2f;
    opacity: 0.5;
}

.card.button.is-inverted:before {
    content: '\f14a';
    color: #00d1b1;
}

/* icon picerk */
.section.cards.iconpicker {
    padding: 0;
    margin-bottom: 1.5rem;
}

.card.button.iconpicker img {
    max-height: 60px;
}

.card.button.iconpicker .card-content {
    padding-bottom: 0;
}

a.card.button.is-primary.iconpicker {
    margin: 10px;
    height: 100%;
    width: 100%;
}

.iconpicker .media-con {
    margin-top: 15px;
}

.limited-exposure {
    max-height: 250px;
    overflow-y: auto;
}

.limited-exposure.embedded.activities .container.activities .card {
    margin: 15px 0 0 15px;
}

.limited-exposure.embedded.activities .card.button img {
    max-width: 50px;
}


.limited-exposure.embedded {
    padding: 0 15px 15px 0;
}

.iconpicker .content {
    color: #0a0a0a;
}

.fake-label {
    margin-top: 2.8rem;
}

/* list layout styles */

/* bold text*/
span.is-bold {
    font-weight: 700;
}

/* section header on lists*/
nav.level.is-primary {
    background: #b5b5b5;
    padding: 8px 15px;
}

nav.level.is-primary .level-item {
    justify-content: flex-start;
}

.button.action {
    min-width: 90%;
    margin: 10px 0;
    color: #222;
    font-family: "Patrick Hand SC", Arial, sans-serif;
    font-weight: 700;
    padding: 0;
}

.modal-card {
    width: calc(100vw - 100px);
    max-width: 1024px;
    overflow-y: auto;
}

.user-error .modal-card, .user-success .modal-card {
    width: 300px;
}

.user-error .modal-card .image-holder {
    height: 250px;
    width: 250px;
    background: url(../images/oops.png) center center no-repeat;
    background-size: cover;
}

.user-success .modal-card .image-holder {
    height: 250px;
    width: 250px;
    background: url(../images/success.png) center center no-repeat;
    background-size: cover;
}

.image-holder.fixit {
    height: 414px;
    width: 250px;
    background: url(../images/fixit.png) center center no-repeat;
    background-size: cover;

}

.modal-card-body .is-half {
    width: 50%;
    margin-bottom: 30px;
}

#event-modal-right {
    width: 33%;
    margin-left: 10%;
}

.modal-card-foot .button.action {
    margin: 0 15px;
}

span#event-modal-title {
    vertical-align: middle;
    margin-top: -15px;
    display: inline-block;
    position: relative;
    margin-left: 10px;
}

.is-bold.column {
    font-weight: 700;
    max-width: 90px;
}

.button.action span.action {
    font-size: 1.5rem;
}

/* map */
#map {
    max-width: 280px;
    width: 100%;
    height: 225px;
    background: url(../images/giphy_load.gif) center center no-repeat;
}

.map {
    max-width: 235px;
    width: 100%;
    height: 200px;
    background: url(../images/giphy_load.gif) center center no-repeat;
    text-align: center;
    margin: 10px auto;
}

.is-bold {
    font-weight: 700;
}

/* event list page */
.list-events nav.level {
    margin: 0;
}

.list-events .media {
    display: block;

}

.list-events .media-content {
    overflow: hidden;
}

.list-events .media .is-one-third {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.list-events .media .is-two-thirds {
    width: 100%;
}

.image.is-38x38 {
    height: 38px;
    width: 38px;
}

.list-events .container {
    margin: 0 0 auto auto;
}

.card.is-primary .card-header, .modal-card .modal-card-head {
    font-family: "Patrick Hand SC", Arial, sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    background: #00d1b1;
}

/* flip order of columns every other row */
.places .container:nth-child(even) .card-content .media {
    flex-direction: row-reverse;
}

.add-place.places .container:nth-child(even) .card-content .media {
    flex-direction: row;
}

.places .container:nth-child(odd), .list-events .container:nth-child(odd) {
    -webkit-animation: slide-right 0.5s forwards;
    animation: slide-right 0.5s forwards;
    right: -100%;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

@-webkit-keyframes slide-left {
    100% {
        left: 0;
    }
}

@keyframes slide-left {
    100% {
        left: 0;
    }
}

.places .container:nth-child(even), .list-events .container:nth-child(even) {
    -webkit-animation: slide-left 0.5s forwards;
    animation: slide-left 0.5s forwards;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
    left: -100%;
}

@-webkit-keyframes slide-right {
    100% {
        right: 0;
    }
}

@keyframes slide-right {
    100% {
        right: 0;
    }
}

.places.list-events .container .card.is-primary {
    border-top: 2px solid #4a4a4a;
    border-bottom: 2px solid #4a4a4a;
    margin-bottom: -2px;
}

.list-events .card-header {
    padding: 10px;
    line-height: 1.8rem;
    display: block;
}

.list-events .card-header .containers:first-of-type {
    display: flex;
}

.list-events .card-header .containers .image {
    display: inline-block;
}


.list-events .media .is-one-quarter {
    width: 100%;
    text-align: center;
}

.list-events .media .is-half {
    width: 100%;
}

.containers .title.is-5 {
    font-family: Raleway;
    margin-top: 7px;
}

.list-events .card.is-primary {
    border: 1px solid #00d1b2;
    border-right: none;
    margin: 0 0 -1px 0;
    clip-path: inset(0 0 -1rem -1rem);
    box-shadow: none;
}

.list-events.places .card.is-primary {
    margin: 0;
    border: none;
}

.list-events .card.is-primary.not-shared .card-content {
    background-color: #feecf0;
}

i.not-shared {
    color: #f14668;
}

.modal-card {
    visibility: hidden;
}

.modal {
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

/* modal show animation */
.is-active .modal-card {
    visibility: visible;
    -webkit-animation: modal-show 1s; /* Safari 4+ */
    -moz-animation: modal-show 1s; /* Fx 5+ */
    -o-animation: modal-show 1s; /* Opera 12+ */
    animation: modal-show 1s; /* IE 10+, Fx 29+ */
}


@-webkit-keyframes modal-show {
    0% {
        transform-origin: center center;
        opacity: 0;
        transform: scale(0);
    }
    100% {
        transform-origin: center center;
        opacity: 1;
        transform: scale(1);
    }
}

@-moz-keyframes modal-show {
    0% {
        transform-origin: center center;
        opacity: 0;
        transform: scale(0);
    }
    100% {
        transform-origin: center center;
        opacity: 1;
        transform: scale(1);
    }
}

@-o-keyframes modal-show {
    0% {
        transform-origin: center center;
        opacity: 0;
        transform: scale(0);
    }
    100% {
        transform-origin: center center;
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modal-show {
    0% {
        transform-origin: center center;
        opacity: 0;
        transform: scale(0);
    }
    100% {
        transform-origin: center center;
        opacity: 1;
        transform: scale(1);
    }
}

/* scrollbar styles */
.limited-exposure::-webkit-scrollbar-track, .modal-card::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #c4efe8;
    border-radius: 4px;
}

.limited-exposure::-webkit-scrollbar, .modal-card::-webkit-scrollbar {
    width: 20px;
    background-color: #c4efe8;
    border-radius: 4px;
}

.limited-exposure::-webkit-scrollbar-thumb {
    background-color: #00d1b1;
}

.modal-card::-webkit-scrollbar-thumb {
    background-color: #46858d;
}

/* error handling CSS */

/* suppress error containers and styles if has-error is missing */
.field .error-msg {
    display: none;
}

/* show errors */
.field.has-error .error-msg {
    display: inline-flex;
}

/* outline inputs with red if errors */
.has-error input, .has-error input:hover, .has-error input:focus,
.has-error textarea, .has-error textarea:hover, .has-error textarea:focus.error-msg,
.has-error select, .has-error select:hover, .has-error select:focus,
.has-error .datetimepicker-dummy, .has-error .datetimepicker-dummy:hover, .has-error .datetimepicker-dummy:focus,
.has-error .datetimepicker-dummy-wrapper:hover, .has-error .datetimepicker-dummy-wrapper:focus {
    border: 1px solid #f14668;
}

.has-error input:hover, .has-error input:focus,
.has-error textarea:hover, .has-error textarea:focus.error-msg,
.has-error select:hover, .has-error select:focus {
    box-shadow: 0 0 0 0.125em rgba(241, 70, 104, .25);
}

.has-error .datetimepicker-dummy-wrapper {
    border: none;
}

.has-error .datetimepicker-dummy:hover, .has-error .datetimepicker-dummy:focus {
    box-shadow: none;
}

/* larger phones */
@media screen and (min-width: 600px) {
    /*card-header */
    .list-events .card-header .containers {
        display: flex;
        align-items: center;
        margin-left: 15px;
    }

    /* section */
    .section {
        padding: .5rem 1rem;
    }

    /* levels */
    .level-left, .level-right, .level {
        display: flex;
    }

    .level {
        align-items: center;
        justify-content: space-between;
    }

    .level-left + .level-right {
        margin-top: 0;
    }

    .list-events.places .container {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }

    .list-events .container {
        margin: 0 0 auto auto;
        align-self: flex-end;
    }

    .list-events .card.is-primary {
        margin: 0 0 -1px 0;
    }

    .list-events.places .card.is-primary {
        margin: 0;
    }

    .list-events .card-header {
        display: flex;
    }

    .list-events .card-header .containers .image {
        display: block;
    }

    /* map*/
    .map {
        margin: 10px auto;
        width: auto;
    }

    /* calendar adjustments */
    .datetimepicker-dummy .datetimepicker-dummy-wrapper .datetimepicker-dummy-input {
        font-size: 1rem;
        text-indent: 1rem;
    }

    .datetimepicker-dummy::before, .datetimepicker-dummy:before {
        top: .65rem;
        left: .75rem;
        width: 1.25rem;
        height: 1.25rem;
    }

    .datetimepicker-dummy .datetimepicker-dummy-wrapper .datetimepicker-dummy-input:first-child {
        text-indent: 2.5rem;
    }
}


/* tablet styles */
@media screen and (min-width: 769px) {
    /* event list page */
    .list-events .media {
        display: flex;
    }

    .list-events.places .media {
        display: block;
    }

    .list-events nav.level {
        margin: 0;
    }

    .list-events .media .is-one-third {
        width: 33%;
        text-align: left;
        margin-top: .25rem;
    }

    .list-events .media .is-two-thirds {
        width: 66%;
    }

    .section {
        padding: .5rem 1.5rem;
    }

    .list-events.places .media {
        display: flex;
    }

    /* map*/
    .map {
        margin: 0 auto;
    }

    /* override home page background image to larger size */
    .hero-body.home {
        background: url('/static/assets/images/were_gonna_build_a_rollercoaster.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }


    /* larger font for speech bubbles */
    .speech-bubble {
        padding: 15px;
    }

    /* account for larger real estate for speech bubble on larger devices */
    .speech-bubble.first {
        left: 20px;
    }

    /* account for larger margins for second speech bubble on larger devices */
    .speech-bubble.second {
        margin-top: 20px;
        right: 20%;
    }

    /* footer */
    .footer {
        display: flex;
        flex-direction: column;
        background-color: #4a4a4a;
    }

    .footer a i:last-of-type {
        padding: .25em 0 .25em 2rem;
    }

    .dist-even {
        align-items: center;
        display: flex;
        line-height: 1.25;
        padding: .5em .75em;
        position: relative;
        justify-content: space-between;
    }

    .list-events .card.is-primary {
        margin: 0 0 0 75px;
        border-bottom: none;
    }

    .list-events.places .card.is-primary {
        margin: 0;
    }

    .list-events .media .is-one-quarter {
        width: 25%;
    }

    .list-events .media .is-half {
        width: 50%;
        margin: 0 10px;
    }

}

/* desktop and larger styles */
@media screen and (min-width: 1024px) {
    /* larger font in speech bubbles for desktop and larger */
    /* hitting rails in this view, pin speech bubble placement */
    .speech-bubble.first {
        left: 25%;

    }

    /* larger margin for second speech bubble on larger devices */
    .speech-bubble.second {
        right: 40%;
    }

    /* hitting rails, pin buttons placement */
    .buttons.home {
        top: 604px;
        width: 1024px;
        display: block;
        margin: 0 auto;
        left: 0;
        right: 0;
        flex-wrap: nowrap;
        justify-content: left;
        max-width: 100%;
    }

    .buttons.home .column.is-half {
        width: 215px;
        display: inline-block;
    }


    a.button.is-link.home-btn-2 {
        margin-left: 369px;
    }
}