<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>What2Do2Day</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/bulma-extensions.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="https://kit.fontawesome.com/6a08e8ea2d.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylsheet" hrfe="../static/css/debug.css"> -->
</head>
<body>

{# macro to create activies select element #}
{% macro activity_list (id='', acts=[], prepoulate_value=False) -%}
    <label for="activity-{{ id }}" class="label">Activity</label>
    <div class="control has-icons-left">
        <div class="select">
            <select id="activity_{{ id }}" name="activity_{{ id }}">
                <option {% if not prepoulate_value %}selected{% endif %}>Choose Activity</option>
                {% for act in acts %}
                    <option value="{{ act.name }}" {% if prepoulate_value and prepoulate_value == act.name %}selected{% endif %}>
                        {{ act.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="icon is-small is-left has-text-primary">
            <i class="fas fa-cogs"></i>
        </div>
    </div>
{%- endmacro %}' %}
{% include '/pages/_partials/navigation.html' %}
{% block content %}{% endblock %}
{% include '/pages/_partials/footer.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='assets/js/bulma-calendar.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>


</body>
</html>