{% extends 'base.html' %}
{# Enter Reivew Form  #}
{% block content %}
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
    {# hero/tile #}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What2do2day Metrics
                </h1>
            </div>
        </div>
    </section>
    <section class="section">

        <div class="container metrics">
            <div class="columns">
                <div class="column is-half">
                    <p class="title is-4 has-text-centered">Pages</p>
                    {% for page in pages %}
                        <div class="columns">
                            <div class="is-bold column">
                                {{ page['_id'] }}
                            </div>
                            <div class="column">
                                {{ page['count'] }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="column is-half">
                    <p class="title is-4">Clicks</p>
                    {% for click in clicks %}
                        <div class="columns">
                            <div class="is-bold column">
                                {{ click['_id']}}
                            </div>
                            <div class="column">
                                {{ click['count'] }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>
    {# submit place form to save in database #}



{% endblock %}