##########################################################
#
# This is a sample flask.cfg for developing the Flask What2do2day App.
#
##########################################################
from os import environ
import os
# grab the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))
TOP_LEVEL_DIR = os.path.abspath(os.curdir)

# General Config
SECRET_KEY = environ.get('SECRET_KEY')
WTF_CSRF_SECRET_KEY = environ.get('WTF_CSRF_SECRET_KEY')
PREFERRED_URL_SCHEME = 'https'
DEBUG = bool(environ.get('DEBUG'))
WTF_CSRF_ENABLED = True

# mongodb connection
MONGO_URI = environ.get('MONGO_URI_WHAT2DO2DAY')
MONGO_SERVER_SELECTION_TIMEOUT_MS = '2000'
MONGO_SOCKET_TIMEOUT_MS = '2000'
MONGO_CONNECT_TIMEOUT_MS = '2000'

# google
GOOGLE_MAP_KEY = environ.get("GOOGLE_MAP_KEY")



