{% extends 'base.html' %}
{% block content %}
    <section class="hero is-primary" role="banner" aria-label="Banner for Add Event Page">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Add Event
                </h1>
                {% if places | length < 1 and filter=='none' %}
                    <h2 class="subtitle">
                        Sorry, there are no places at this time, you must first add a place before adding events.
                    </h2>
                    <div class="level-left">
                        <div class="level-item">
                            <p class="control">
                                <a class="button is-white" href="{{ url_for('places_bp.add_place', _external=True) }}"
                                   data-track="place_add,{{ page }},button">
                                    <span class="icon">
                                        <i class="fas fa-plus-square"></i>
                                    </span>
                                    <span>Add Place</span>
                                </a>
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    {% if places | length > 0 %}
        <section>
            <nav class="level is-primary" aria-label="Select the place to add an event to">
                <div class="level-left">
                    <div class="level-item">
                        <p class="title">
                            <i class="far fa-hand-pointer"></i> Select the Place to Add and Event to
                        </p>
                    </div>
                </div>
            </nav>
        </section>
        {# include accordion for future filtering #}
        {% include 'place/filter_place.html' %}
        <section class="list-events places add-place" role="main">
            {% for place in places %}
                {% include 'place/place_add_event.html' %}
            {% endfor %}
        </section>

    {% endif %}


{% endblock %}