{% extends 'base.html' %}
{% from "_partials/event_macro.html" import event_entry with context %}
{% block content %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Update Event
                </h1>
                {% if events | length < 1 %}
                    <h2 class="subtitle">
                        Opps I can't find that event anymore.
                    </h2>
                    <div class="level-left">
                        <div class="level-item">
                            <p class="control">
                                <a class="button is-white" href="{{ url_for('events_bp.edit_events', _external=True) }}">
                                <span class="icon">
                                    <i class="fas fa-plus-square"></i>
                                </span>
                                    <span>Edit Events</span>
                                </a>
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    {% if events | length > 0 %}
        {% for event in events %}
            <form method="POST" action="{{ url_for('events_bp.update_event', event_id=event['_id'], _external=True) }}"
                  enctype="multipart/form-data">
                {{ form.csrf_token }}
                <nav class="level is-primary">
                    <div class="level-left">
                        <div class="level-item">
                            <p class="title">
                                <i class="fas fa-edit"></i> Now Updating: {{ event['event_name'] | title }}
                            </p>
                        </div>
                    </div>
                </nav>
                <section class="section">
                    <div class="container">
                        <div class="list-events">
                            {# collect initial event of place #}
                            {# This template collects data for an event. It expects to be associated with a Place_id #}
                            {# has event checkbox, only shown on add place form #}
                            <div class="field is-hidden">
                                <label class="label">Events</label>
                                <div class="control">
                                    {{ form.has_event(class_="is-checkradio is-medium") }}
                                    {{ form.has_event.label }}
                                </div>
                            </div>
                            <div class="container">
                                {{ event_entry(form=form, event=event, update=True) }}
                            </div>
                        </div>

                    </div>
                </section>
                <div class="section is-submit-wrapper">
                    <nav class="level">
                        <div class="level-left">
                            <button type="submit" class="button is-dark is-medium is-inverted submit">
                            <span class="icon is-small">
                               <i class="fas fa-save"></i>
                            </span>
                                <span class="action">Save Changes</span>
                            </button>
                        </div>
                        <div class="level-right">
                            <a class="button is-dark is-medium is-light edit_event"
                               href="{{ url_for('events_bp.edit_events', _external=True) }}">
                            <span class="icon">
                                <i class="fas fa-trash"></i>
                            </span>
                                <span class="action">Cancel</span>
                            </a>
                        </div>
                    </nav>
                </div>
            </form>
        {% endfor %}
    {% endif %}

{% endblock %}