{% extends 'base.html' %}
{% from "_partials/macros.html" import enable_switch with context %}
{% from "_partials/macros.html" import star_form with context %}
{# Enter Reivew Form  #}
{% block content %}
    {# hero/tile #}
    <form method="POST" action="/add_review/{{id}}/" enctype="multipart/form-data">
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Add Review {{name}}
                    </h1>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <h2 class="subtitle">
                    Thank you for adding to the community!
                </h2>
            </div>
            <div class="container">
                {#  prevent cross site scripting #}
                {{ form.csrf_token }}

                {# collect initial review of place #}
                {% include '_partials/review_macro.html' %}

            </div>
        </section>
        {# submit place form to save in database #}
        <section class="section is-submit-wrapper">
            <div class="level-left">
                <button type="submit" class="button is-dark is-medium is-inverted submit">
                    <span class="icon is-small">
                       <i class="fas fa-save"></i>
                    </span>
                    <span>Save Review</span>
                </button>
            </div>
        </section>


    </form>

{% endblock %}