{% extends 'base.html' %}
{% from "_partials/macros.html" import enable_switch with context %}
{% from "_partials/macros.html" import star_form with context %}
{# Enter Reivew Form  #}
{% block content %}
    {# hero/tile #}
    <section class="hero is-primary" role="banner" aria-label="Banner for Add Review">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Add Review {{ name }}
                </h1>
            </div>
        </div>
    </section>
    <section role="main">

        <form method="POST" action="/add_review/{{ id }}/" enctype="multipart/form-data" role="form"
              aria-label="add review form">
            <div class="container">
                <h2 class="subtitle has-text-centered-mobile">
                    Thanks for sharing your input!
                </h2>
            </div>
            <div class="container">
                {#  prevent cross site scripting #}
                {{ form.csrf_token }}

                {# collect initial review of place #}
                {% include '_partials/review_macro.html' %}

            </div>
            {# submit place form to save in database #}
            <section class="section is-submit-wrapper">
                <nav class="level" aria-label="review form buttons">
                    <div class="level-left">
                        <button type="submit" class="button is-dark is-medium is-inverted submit"
                                data-track="review_save,review_add,button">
                    <span class="icon is-small">
                       <i class="fas fa-save"></i>
                    </span>
                            <span>Save Review</span>
                        </button>
                    </div>
                    <div class="level-right">
                        <a class="button is-dark is-medium is-light" data-track="review_cancel,review_add,button"
                           href="{{ url_for('places_bp.get_places', _external=True) }}">
                    <span class="icon is-small">
                       <i class="fas fa-trash"></i>
                    </span>
                            <span>Cancel</span>
                        </a>
                    </div>
                </nav>
            </section>
        </form>
    </section>
    {% if show_modal %}
        {# modal for count me in submission results #}
        <div class="modal is-active {% if show_modal['status'] == 'OK' %}user-success{% else %}user-error{% endif %}"
             id="modal-review-submitted" data-target="{{ url_for('places_bp.get_places', _external=True) }}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Add Review</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <div class="container">
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    {{ show_modal['message'] }}
                                </div>
                                <div class="column">
                                    <div class="image-holder"
                                         aria-label="image of {% if show_modal['status'] =='OK' %} Phineas and Ferb celebrating success.{% else %}Image of Dr. Doofenshmirtz looking bewildered.{% endif %}"></div>
                                </div>
                            </div>
                        </div>
                </section>
                {# button to acknowledge message and close modal #}
                <footer class="modal-card-foot">
                    <div class="level-left">
                        <a class=" button is-primary action modal-close-2">
                        <span class="icon is-small">
                            <i class="fas fa-check-circle"></i>
                        </span>
                            <span class="action">OK</span>
                        </a>
                    </div>
                </footer>
            </div>
        </div>
    {% endif %}

{% endblock %}