{% extends 'base.html' %}
{% block content %}
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Oops...
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2 class="subtitle">
                We detected an error with your browser's data. Can you please try again?
            </h2>
            <div class="level-left">
                <div class="level-item">
                    <p class="control">
                        <a class="button is-white" href="{{ url_for('home') }}">
                                <span class="icon">
                                    <i class="fas fa-home"></i>
                                </span>
                            <span>Try Again</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}