{# macro to create activies select element #}
{% macro activity_list (id='', acts=[], prepoulate_value=False) -%}
    <label for="activity_{{ id }}" class="label">Activity</label>
    <div class="control has-icons-left">
        <div class="select">
            <select aria-label="Choose activity associated with {{ id }}" id="activity_{{ id }}" name="activity_{{ id }}">
                <option value="none" {% if not prepoulate_value %}selected{% endif %}>Choose Activity</option>
                {% for act in acts %}
                    <option value="{{ act.name }}" {% if prepoulate_value and prepoulate_value == act.name %}selected{% endif %}>
                        {{ act.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="icon is-small is-left has-text-primary">
            <i class="fas fa-cogs"></i>
        </div>
    </div>
{%- endmacro %}

{# macro to create disable/enable (don't share/share) switch element #}
{%  macro enable_switch (id='', prepopulate_value=False) -%}
    <label for="share_{{id}}" class="label">Share {{ id | capitalize }} with Community</label>
    <div class="control">
    <label class="switch">
        <input id="share_{{id}}" name="share_{{id}}" type="checkbox" {% if prepopulate_value %}checked{% endif %}>
        <span class="slider"></span>
    </label>
    </div>
    <span class="switch-value">No&nbsp;&nbsp;&nbsp;Yes</span>
{%- endmacro %}