{% extends 'base.html' %}
{# This template is used on the place_delete page. It houses the HTML for each event row in the table #}
{% from "_partials/macros.html" import display_address with context %}
{% from "_partials/macros.html" import star_rating_display with context %}
{% block content %}
    <section class="hero is-primary" role="banner" aria-label="Banner for Selecting Place to Delete">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                     <span class="title">
                        <i class="far fa-hand-pointer"></i> Select the Place to Delete
                    </span>
                </h1>
                {% if places | length < 1 %}
                    <h2 class="subtitle">
                        Opps It looks like there are no places in the system right now.
                    </h2>
                    <div class="level-left">
                        <div class="level-item">
                            <p class="control">
                                <a class="button is-white" href="{{ url_for('places_bp.add_place', _external=True) }}"
                                   data-track="place_add,{{ page }},button">
                                    <span class="icon">
                                        <i class="fas fa-plus-square"></i>
                                    </span>
                                    <span>Add Place</span>
                                </a>
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    {% if places | length >0 %}
        {# include accordion for future filtering #}
        {% include 'place/filter_place.html' %}
        <section class="list-events places add-place" role="main">
            {% for place in places %}
                <div class="container">
                    <div class="card is-primary  {% if not place['share'] %}not-shared{% endif %}">
                        {# give credit to place hosting event #}
                        <header class="card-header">
                            {# activity icon #}
                            <div class="containers">
                                <figure class="image is-38x38">
                                    <img src="/static/assets/images/icons/{{ place['activity_icon'] }}"
                                         alt="image for {{ place['activity_icon']|icon_alt }} icon" height="34"
                                         width="34">
                                </figure>
                                {# name of place #}
                                <div class="title is-3">&nbsp;&nbsp;{{ place.place_name|title }}</div>
                            </div>
                        </header>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content is-two-thirds">
                                    <div class="columns">
                                        <div class="is-bold column has-text-left">Detail:</div>
                                        <div class="column has-text-left">
                                            {{ place.description|truncate(45, False) }}
                                        </div>
                                    </div>
                                    <div class="columns">
                                        <div class="is-bold column has-text-left">Share:</div>
                                        <div class="column has-text-left">
                                            {% if place['share'] %}
                                                <i class="fas fa-eye"></i> Yes
                                            {% else %}
                                                <i class="fas fa-eye-slash not-shared"></i> No
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="columns">
                                        <div class="is-bold column has-text-left">Image:</div>
                                        <div class="column">
                                            {% if place.image %}
                                                <img src="{{ place['image'] }}"
                                                     alt="image for {{ place['place_name']|icon_alt }} icon" height="60"
                                                     width="140">
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="media-content is-one-third">
                                    <div class="columns">
                                        <div class="is-bold column has-text-left">Phone:</div>
                                        <div class="column has-text-left">
                                            {% if place.phone %}
                                                {{ place['phone'] }}
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="columns">
                                        <div class="is-bold column has-text-left">Website:</div>
                                        <div class="column has-text-left">
                                            {% if place.web %}
                                                {{ place['web'] }}
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="columns">
                                        <div class="is-bold column">Location:</div>
                                        <div class="column">
                                            <div class="has-text-left">
                                                {% if place['address-_id'] and place['address-_id'] !="" %}
                                                    {{ display_address(place['place_address'][0],tooltip=True) }}
                                                {% else %}
                                                    N/A
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    {# Add event button #}
                                    <a class="button is-primary action place-delete"
                                       data-track="place_delete,{{ page }},button"
                                       data-target="{{ place['place_id'] }}">
                                        <span class="icon">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                        <span class="action">Delete Place</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    {% endif %}
    {% if status %}
        {# modal for count me in submission results #}
        <div class="modal is-active {% if status == 'OK' %}user-success{% else %}user-error{% endif %}"
             id="modal-count-me-in-submitted">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Delete Place</p>
                    <button class="delete" aria-label="close"
                            data-track="{% if status=="OK" %}modal_close,{{ page }}_success,button{% else %}modal_close,{{ page }}_fail,button{% endif %}">
                    </button>
                </header>
                <section class="modal-card-body">
                    <div class="container">
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    {% if status=='OK' %}
                                        Your place has been successfully deleted.
                                        All reviews and events associated with the place have been removed.
                                        It may take a few minutes to see it
                                        completely removed from the site.
                                    {% else %}
                                        {{ status }}
                                    {% endif %}
                                </div>
                                <div class="column">
                                    <div class="image-holder"
                                         aria-label="image of {% if status=='OK' %} Phineas and Ferb celebrating success.{% else %}Image of Dr. Doofenshmirtz looking bewildered.{% endif %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
                {# button to acknowledge message and close modal #}
                <footer class="modal-card-foot">
                    <div class="level-left">
                        <a class=" button is-primary action modal-close-2"
                           data-track="{% if status=="OK" %}modal_close,{{ page }}_success,button{% else %}modal_close,event_join_fail,button{% endif %}">
                            <span class="icon is-small">
                                <i class="fas fa-check-circle"></i>
                            </span>
                            <span class="action">OK</span>
                        </a>
                    </div>
                </footer>
            </div>
        </div>
    {% endif %}
{% endblock %}