{# This template is used on the get_events page. It houses the HTML for each event row in the table #}
{% from "_partials/macros.html" import display_address with context %}
{% from "_partials/macros.html" import star_rating_display with context %}

<div class="container">
    <div class="card is-primary">
        {# give credit to place hosting event #}
        <header class="card-header">
            {# activity icon #}
            <div class="containers">
                <figure class="image is-38x38">
                    <img src="/static/assets/images/icons/{{ place['activity_icon'] }}"
                         alt="image for {{ place['activity_icon']|icon_alt }} icon" height="34"
                         width="34">
                </figure>
                {# name of place #}
                <div class="title is-3">&nbsp;&nbsp;{{ place.place_name|title }}</div>
            </div>
        </header>
        <div class="card-content">
            <div class="media">
                <div class="media-content is-two-thirds has-text-left">
                    <div class="columns">
                        <div class="column">
                            {{ place.description }}
                        </div>
                    </div>
                </div>
                <div class="media-content is-one-third has-text-centered">
                    {# Add event button #}
                    <a class="button is-primary action event-add" data-target="{{ place['place_id'] }}" data-track="event_add,{{page}},button">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="action">Add Event</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
