{# This template is used on the get_events page. It houses the HTML for each event row in the table #}
{% from "_partials/macros.html" import accordion_arrow with context %}
{% from "_partials/macros.html" import display_address with context %}
{% from "_partials/macros.html" import star_rating_display with context %}
<div class="container">
    <div class="card is-primary">
        {# give credit to place hosting event #}
        <header class="card-header">
            {# activity icon #}
            <div class="containers">
                <figure class="image is-38x38">
                    <img src="/static/assets/images/icons/{{ place['activity_icon'] }}"
                         alt="image for {{ place['activity_icon']|icon_alt }} icon" height="34"
                         width="34">
                </figure>
                {# name of place #}
                <div class="title is-3">&nbsp;&nbsp;{{ place.place_name|title }}</div>
            </div>
        </header>
        <div class="card-content">
            <div class="media">
                <div class="media-content is-one-quarter">
                    {% if place.image %}<img src="{{ place['image'] }}"
                                             alt="image for {{ place['image']|icon_alt }} icon" height="100"
                                             width="235">{% endif %}

                    <p>{{ star_rating_display(rating=place.rating_average, label=True) }}</p>
                </div>

                <div class="media-content is-half is-mb">
                    <div class="is-hidden-mobile">
                        {{ place.description }}
                    </div>
                    <div class="is-hidden-tablet">
                        {{ accordion_arrow (text=place.description, more_text="Read more", less_text="Show less", display_chars=65, track="place_full_description") }}
                    </div>
                    <div>
                        <section class="accordions {% if place.reviews|length <1 %}is-hidden{% endif %}">
                            <article class="accordion">
                                <div class="accordion-header">
                                    <p>Reviews</p>
                                    <button class="toggle" aria-label="toggle"
                                            data-track="reviews_toggle,{{ page }},button"></button>
                                </div>
                                <div class="accordion-body">
                                    {#  messsage to users if some reviews are suppressed #}
                                    <div class="accordion-content special">
                                        {% if place.reviews|length > 5 %}
                                            <p>Showing only 5 most recent reviews.</p>
                                        {% else %}
                                            <p>Showing {{ place.reviews|length }} most recent
                                                review{{ place.reviews|length|pluralize("","s", False) }}.</p>
                                        {% endif %}
                                    </div>
                                    {# limit reviews to only show 5 most recent #}
                                    {% for review in place.reviews[:5] %}
                                        <div class="accordion-content">
                                            {{ star_rating_display(rating=review.rating) }}
                                            <span class="review-date">{{ review.date| date_only }}</span>
                                            <p>{{ review.comments }}</p>
                                            <p>~{{ review.user_name }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </article>
                        </section>
                        <section class="accordions {% if place.events|length <1 %}is-hidden{% endif %}">
                            <article class="accordion">
                                <div class="accordion-header">
                                    <p>Events</p>
                                    <button class="toggle" aria-label="toggle"
                                            data-track="events_toggle,{{ page }},button">
                                    </button>
                                </div>
                                <div class="accordion-body">
                                    {#  messsage to users the number of events #}
                                    <div class="accordion-content special">
                                        <p>
                                            Showing {{ place.events|length }} upcoming
                                            event{{ place.events|length|pluralize("","s", False) }}.
                                        </p>
                                    </div>
                                    {# events accordion #}
                                    {% for event in place.events %}
                                        <div class="accordion-content">
                                            <p class="title is-4">{{ event.name| title }}
                                            <div class="columns">
                                                <div class="is-bold column">When:</div>
                                                <div class="column">{{ event['date_time_range'] | date_range |safe }}</div>
                                            </div>
                                            <div class="columns">
                                                <div class="is-bold column">Ages:</div>
                                                <div class="column is-capitalized">
                                                    {% if event['age_limit'] %}
                                                        {% for age in event['age_limit'] %}
                                                            {{ age }}{% if loop.index != loop.length %}, {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="columns">
                                                <div class="is-bold column">Details:</div>
                                                <div class="column">
                                                    {{ event['details'] }}
                                                </div>
                                            </div>
                                            <a class="button is-primary action event-modal {% if event['max_attendees'] == event['attendees']|length %} is-disabled{% endif %}"
                                                {% if event['max_attendees'] == event['attendees']|length %}disabled{% endif %}
                                               data-target="{{ event['_id'] }}"
                                               data-track="event_join,{{ page }},button"
                                               aria-haspopup="true">
                                                <span class="icon">
                                                    <i class="fas fa-calendar-plus"></i>
                                                </span>
                                                <span class="action">Count Me In</span>
                                            </a>
                                            <div class="has-text-centered count-in-text">
                                                {# attendee count messaging #}
                                                <p>
                                                    <i class="fas fa-users"></i>
                                                    {{ event['attendees'] | length|pluralize("person plans", "people plan", True) }}
                                                    on going
                                                </p>
                                                {# event almost booked warning #}
                                                {% if event['max_attendees'] != event['attendees']|length and event['max_attendees'] - event['attendees']|length < 10 %}
                                                    <p class="has-text-warning">
                                                        Only {{ (event['max_attendees'] - event['attendees']|length)|pluralize("spot", "spots", True) }}
                                                        left!
                                                    </p>
                                                {% endif %}
                                                {#  event booked messaging #}
                                                {% if event['max_attendees'] == event['attendees']|length %}
                                                    <p class="has-text-danger">
                                                        Sorry, no spots left.
                                                    </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </article>
                        </section>
                    </div>
                </div>
                <div class="media-content is-one-quarter">

                    {% if place['address-_id'] and place['address-_id'] !="" %}
                        <div class="map" id="map_{{ place.place_id }}">
                            <iframe width="100%" height="200" frameborder="0" style="border:0"
                                    title="Map of {{ place.place_name|title }}"
                                    src="https://www.google.com/maps/embed/v1/search?key={{ google_key }}&q={{ place['address-address_line_1'] }}&center={{ place['address-lat'] }},{{ place['address-lng'] }}&zoom=16">
                            </iframe>
                        </div>
                    {% endif %}
                    {# Add review button #}
                    <p>Know this place?</p>

                    <a class="button is-primary action review-add" data-target="{{ place['place_id'] }}"
                       data-track="review_add,{{ page }},button">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="action">Add Review</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
