<div class="columns">
    <div class="field column">
        <div class="control">
            <label for="author" class="label">Author</label>
            <div class="control">
                <input id="author" name="phauthorone" class="input" type="text"
                       placeholder="First Name">
            </div>
        </div>
    </div>
    <div class="field column">
        <div class="control">
            {% include '/pages/_partials/rating.html' %}
        </div>
    </div>
</div>
<div class="field">
    <div class="control">
        <label for="comments" class="label">Comments</label>
        <textarea id="comments" name="comments" class="textarea"
                  placeholder="Enter Review"></textarea>
    </div>
</div>

{% if review %}
    <div class="field">
        {{ enable_switch('place', review.enabled) }}
    </div>
{% endif %}
