<div class="field">
    <label class="label">Reviews</label>
    <div class="control">
        {{ form.review.has_review(class_="is-checkradio is-medium") }}
        {{ form.review.has_review.label }}
    </div>
</div>

{# review block hide/shows based on review  #}
<div id="review_block" class="has-background-white-bis embedded">
    <div class="columns">
       {# use author email collection if embedded in place form #}
        <div class="column" {% if form.review.use_place_email =='y' %}style="display: none;"{% endif %}>
            <div class="field {% if form.review.author %}has-error{% endif %}">
                <div class="control">
                    {{ form.review.author.label(class_="label") }}
                    <div class="control">
                        {{ form.review.author(class_="input", placeholder="your.email@you.com") }}

                    </div>
                    <p class="error-msg help is-danger">
                        {% if form.review.author.errors|length > 0 %}
                            {{ form.review.author.errors[0] }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <div class="control">
                    {% include '/pages/_partials/rating.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label for="comments" class="label">Comments</label>
            <textarea id="comments" name="comments" class="textarea"
                      placeholder="Enter Review"></textarea>
        </div>
    </div>

    {% if review %}
        <div class="field">
            {{ enable_switch('place', review.enabled) }}
        </div>
    {% endif %}
</div>